<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text analytics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="text-align: center;">
    <h2> Psali jste o: </h2>

    <ol>
    <br>
    <% for(url of returnStuff)  { %>
     <li> <a target="_blank" href="<%-url.url%>"><%- url.url.replace(/_/gi, " ").replace("https://en.wikipedia.org/wiki/", "") %> </a>   </li>
     <br>
    <% } %>
    </ol>
    <form action="">
    <textarea name="txt" id="" cols="30" rows="10" placeholder="Váš text"></textarea>
    <br>
    <button type="submit">Analyzovat</button>
    </form>
    <div class="newText">
        <%- returnText %>
    </div>
</body>
<script>
</script>
</html>