<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text analysis</title>
  </head>
  <body class="center">
    <h1 style="margin-top: 10%">Vyzkoušejte si demo kliknutím níže</h1>
    <br />
    <a href="/analyze"><button class="btn red">Přejít na demo</button></a>
    <br />
    <p style="margin-top: 25%;">
      Tato aplikace byla vytvořena pro článek na blogu
      <a target="_blank" href="https://studuj.digital">studuj.digital</a>
      studenty
      <a
        target="_blank"
        href="https://www.linkedin.com/in/anna-bicanov%C3%A1-b02826183/"
        >Aničkou Bicanovou</a
      >
      a
      <a target="_blank" href="https://filiptronicek.github.io"
        >Filipem Troníčkem</a
      >
    </p>
  </body>
</html>
