<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text analysis</title>
</head>
<body class="center">
 <h1>Vyzkoušejte si demo kliknutím níže</h1> 
  <a href="/analyze"><button class="btn red">Přejít na demo</button></a>
    
</body>
</html>