@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

textarea {
    overflow: auto;
    width: 50vw;
    max-width: 50vw;
    min-height: 26px;
    max-height: 80vh;
}
:root {
    font-family: 'Montserrat', sans-serif;
}
.newText {
    max-width: 75vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: black;
}